* {
	margin: 0;
	padding: 0;

}
/*body {
	overflow-x: hidden;
}*/
@font-face {
	font-family: 'LeagueGothic';
	src: url(../fonts/LeagueGothic-Regular.otf);
}
.container {
	width: 100%;
}
li a:focus, li a:hover {
	color: white;
}
.sub-container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	padding-top: 68px;
}
.wrapper {
	background-image: url(../img/Layer1.png);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	background-size: cover;
	font-family: LeagueGothic;
	font-size: 24px;
	width: 100%;
}
.container {
	margin: 0 auto;
	max-width: 960px;
	margin: 0 auto;
	padding-top: 100px;
}
header a {
  font-family: LeagueGothic;
	color:  #ffffff;
	font-size: 48px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 33.724px;/* Approximation due to font substitution */
	text-align: left;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 155px;
  float: left;
  align-self: center;
}
.logo a:hover {
	color: white;
	text-decoration: none;
}
.main-nav {
  float: right;
  padding-top: 10px;
}

.logo a {
  font-size: 48px;
}

.logo span {
  color: #5e426b;
}

.main-nav {
  width: 66%;
}

.main-nav li {
  width: 80px;
  padding: 7px 7px;
  float: left;
  text-transform: uppercase;
  text-align: right;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav li a {
  display: block;
  /*padding: 28px 34px;*/
  font-size: 24px;
  padding: 5px;
}

.main-nav a:hover {
  text-decoration: underline;
}

a {
  color: #fff;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.carousel {
	width: 100%;
	height: 350px;
	margin-top: 30px;
}
.item {
	width: 70%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
}
.item img {
	position: relative;
	left: 650px;
	bottom: 270px;
}
.carousel-control {
	height: 300px;
}
.carousel-inner {
	height: 350px
}
.slider-header {
	font-family: LeagueGothic;
	color:  #fefefe;
	font-size: 60px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: left;
}
.sub-header {
	font-family: LeagueGothic;
	color:  #eebfff;
	font-size: 32px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 36px;/* Approximation due to font substitution */
	text-align: left;
}
.item p {
	font-family: OpenSans;
	color:  #ffffff;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 24px;/* Approximation due to font substitution */
	text-align: left;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	width: 540px;
}

.block-wrapper {
	max-width: 960px;
	margin: 0 auto;
	display:                 flex;
    display:                 -webkit-flex; /* Safari */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari */
  justify-content:         center;
  -webkit-justify-content: center; 
}
.sub-block {
	max-width: 270px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
.navigation {
	background-image: url(../img/Layer4copy2.png);
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 100%;
}
.key {
	float: left;
}
.header {
	position: relative;
	left: 10px;
	font-family: LeagueGothic;
	color:  #ffffff;
	font-size: 24px;
}
.text {
	position: relative;
	left: 35px;
	font-family: OpenSans;
	color:  #ffffff;
	font-size: 16px;
	max-width: 180px;
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #0f1518;
	clear: both;

}
.more {
	float: right;
	padding-top: 10px;
	font-family: LeagueGothic;
	color:  #ffffff;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
	padding-bottom: 30px;
}
.sub-nav-wrapper {
	background-color: #f9f9f9
}
.sub-navigation {
	max-width: 960px;
	margin: 0 auto;
	padding-top: 50px;
	display:                 flex;
    display:                 -webkit-flex; /* Safari */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari */
  justify-content:         center;
  -webkit-justify-content: center; 
}
.block-nav {
	background-color: #ffffff;
	float: left;
	margin-top: 50px;
}
.photo {
	float: left;
}
.header-photo {
	font-family: LeagueGothic;
	color:  #454545;
	font-size: 24px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.text-photo {
	font-family: OpenSans;
	color:  #454545;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	max-width: 300px;
	overflow:hidden;
}
.pink {
	font-family: LeagueGothic;
	color:  #edbfff;
	font-size: 24px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
}
.circles {
	padding-top: 30px;
	text-align: center;
}
.recentUpdates {
	float: left;
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 40px;
}
.recentUpdates h2 {
	font-family: LeagueGothic;
	color:  #454545;
	font-size: 24px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	
}
h3 {
	font-family: LeagueGothic;
	color:  #454545;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	overflow: hidden;
	padding-left: 10px;
}
article p {
	font-family: OpenSans;
	color:  #454545;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	padding-left: 10px;
	overflow: hidden;
}
article img {
	float: left;
}

.disp {
	clear: both;
}
.moreBlog {
	font-family: LeagueGothic;
	color: #454545;
	font-size: 18px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 30px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	float: right;
}
.line {
	background-color: #e6e6e6;
	width: 100%;
	height: 3px;
	margin-top: 60px;
}
.container-logo {
	max-width: 960px;
	margin: 0 auto;
	display:                 flex;
    display:                 -webkit-flex; /* Safari */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari */
  justify-content:         center;
  -webkit-justify-content: center; 
}
.container-logo img {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
footer {
	background-image: url(../img/bgcopy.png);
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 70px;
}
.copyright {
	font-family: OpenSans;
	color: #ffffff;
	font-size: 12px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 33.724px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	font-family: OpenSans;
	color: #ffffff;
	font-size: 12px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 33.724px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	text-align: center;
}
@media screen and (max-width: 980px) {

	.phone {
		display: none;
	}
}