* {
	margin: 0;
	padding: 0;
	
}

@font-face {
	font-family:"Open Sans Light";
src: url("OpenSans-Light.woff") format("woff"),}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
   font-family: "Open Sans";
}
::-moz-selection { /* Code for Firefox */
    background: rgb(117,191,46);
    color: #fff;
}

::selection {
    background: rgb(117,191,46);
    color: #fff;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
li {
	list-style: none;
}
.fixed_head {
	width: 100%
}
.fixed {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
header {
	color: #fff;
}
.second_layer {
	background: #fff;
}
img {
	max-width: 100%;
}
.cont {
	position: relative;
}

a.logo {
	position: absolute;
	top: 5px;
	z-index: 3;
}
a.logo img {
	border: 2px solid #2c4700;
    border-radius: 50%;
}
.footer_summary img {
	    border: 2px solid #2c4700;
    border-radius: 50%;
}
.container_right {
	float: right;
}

.first_layer {
  background-color: rgb(36, 59, 0);
}

.number {
	color: rgb(117,191,46);
	float: left;
	padding: 15px  10px 15px 5px;
}
.number_item {
	padding-left: 10px;
	float: left;
	list-style: none;
	font-size: 18px;
}

.callback {
	padding: 10px  0px 10px 10px;
	font-size: 18px;
	float: right;
	position: relative;
}
.callback_btn {
	border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
.callback_btn:hover {
	border: 1px solid rgb(117,191,46);
	background-color: rgb(117,191,46);
}
.nav_item {
	float: left;
	list-style: none;
	
}
.lang_item {
    float: left;
    list-style: none;
    margin: 5px 4px;
    border-radius: 50%;
    background-color: #243b00;
    border: 1px solid transparent;
    transition: 0.3s ease;
}
.lang_item:hover {
    background-color: rgb(117,191,46);
    border: 1px solid rgb(117,191,46);
}

.nav {
	 border: 0 solid #243b00;
	 float: left;
}
.lang {
	float: right;
}
.nav_item {
    color: #243b00;
    border: 0 solid #243b00;
    border-width: 0px 1px 0 0;
    margin: 7px auto;
    width: 160px;
    text-align: center;
}
.nav_item_link {
    color: #243b00;
    text-decoration: none;
    transition: 0.3s ease;
}
.nav_item_link:hover {
    color: rgb(36, 59, 0);
    font-weight: bold;
}
.nav_item_link:focus {
    color: rgb(36, 59, 0);
    font-weight: bold;
}
.nav_item_link.active {
    color: rgb(36, 59, 0);
    font-weight: bold;
}
.nav_item:last-child {
	border:none;
}
.lang_item_link {
	color: #fff;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	font-size: 10px;
}
.lang_item_link:hover {
	text-decoration: none;
}
.lang_item_link:focus {
	color:#fff;
	text-decoration: none;
}
.col_container {
	width: 85%;
}
/*dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
}
.active {
	display: block!important;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    text-align: center;
    top: 30px;
    left: 50%;
    margin-left: -90px;
    border-radius: 4px;
    z-index: 4;
}
.dropdown-content.wide {
    display: none;
    position: absolute;
    min-width: 280px;
    top: 30px;
    left: 50%;
    margin-left: -140px;
    border-radius: 4px;
    z-index: 4;
}
.dropdown-content:after {
	content: "";
    display: block;
    width: 0;
height: 0;
border-style: solid;
border-width: 0 9px 8px 9px;
border-color: transparent transparent rgb(36, 59, 0) transparent;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -4px;
}
.dropdown-content a {
    color: #fff;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(36, 59, 0);
    border: 1px solid rgb(36, 59, 0);
}
.dropdown-content a:hover {
	padding: 6px 16px;
	border: 1px solid #fff;
}

/*.dropdown:hover .dropdown-content {
    display: block;
}*/
.dropdown-content_item {
	list-style: none;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.main {
	position: relative;
	z-index: 2;
}
main {
background-color: rgba(226, 226, 226, 0.3);

}
.bx-wrapper {
	background-color: #fff;
}
.partners {
background-color: #fff;
}
#partners {
	border-bottom: 1px solid #2c4700;
}
#partners .owl-buttons div{
    background-color: #fff;
    border: 2px solid #2c4700;
    border-radius: 50%;
    color: #2c4700;
    font-size: 25px;
    line-height: 24px;
    padding-top: 0;
    position: absolute;
    text-align: center;
}
#partners .owl-buttons .owl-prev {
    left: 0;
    top: 12px;
    padding-left: 8px;
}
#partners .owl-buttons .owl-next {
    right: 0;
    top: 12px;
    padding-right: 8px;
}
#partners_client .owl-buttons div{
    background-color: #fff;
    border: 2px solid #2c4700;
    border-radius: 50%;
    color: #2c4700;
    font-size: 25px;
    line-height: 24px;
    padding-top: 0;
    position: absolute;
    text-align: center;
}
#partners_client .owl-buttons .owl-prev {
    left: 0;
    top: 12px;
    padding-left: 8px;
}
#partners_client .owl-buttons .owl-next {
    right: 0;
    top: 12px;
    padding-right: 8px;
}
#partners_client .owl-pagination  {
  display: none;
}
.about_partners {
  padding-top: 60px;
}
.owl-carousel .owl-item {
    text-align: center;
}

.container_header {
	color: #2c4700;
	text-align: center;
	padding: 80px 0;
  font-size: 36px;
  font-family: "Georgia";
  font-weight: bold;
  text-transform: uppercase;
}
.slogan_header {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 30px;
  font-size: 36px;
  font-family: "Georgia";
  color: #2c4700;
  font-weight: bold;
  text-transform: uppercase;
}
.title-shadow_portfolio {
	font-size: 600px;
	font-weight:900;
	text-align: center;
	text-transform:uppercase;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: rgba( 148, 170, 60, 0.4 );
    position: absolute;
    z-index: -10;
}
.prerogatives {
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
    background-color: #fff;
    padding-bottom: 150px;
}
.bg {
	background-image: url(../img/f.png);
	background-repeat: no-repeat;
	background-position: center;
}
.prerogatives_container {
	padding: 30px 0;
}
.prerogatives_item {
	text-align: center;
	float: left;
	    width: 30%;
    padding: 1%;
  font-size: 16px;
  color: rgb( 114, 116, 114 );
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
}
.prerogatives_item img {
	    opacity: 0.8;
}
.activity_item {
	display: table;
	padding: 30px 0;
	margin: 0 auto;
}
.activity_img img {
	border-radius: 40px;
      -webkit-transition: all 1s ease-out;
}


.activity_item:nth-child(even) .activity_text{
    float: left;
}
.activity_item:nth-child(even) .activity_img{
    float: right;
}
.activity_img {
	display: table-cell;
	vertical-align: middle;
	float: left;
	text-align: center;
	padding-top: 25px;
    padding-bottom: 25px;
    width: 50%;
	
}
.activity_text {
	width: 50%;
    text-align: center;
    float: right;
    font-size: 24px;
    text-transform: uppercase;
    color: #9c9f93;
    font-family: "OpenSans", sans-serif;
    font-weight: lighter;
    text-align: left;
    display: table-cell;
	vertical-align: middle;
}


.activity_text p {
	border-radius: 50%;
    padding: 15% 10%;
    width: 50%;
    margin: 0 auto;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        white-space: pre-wrap;       /* css-3 */
   

    border-radius: 50%;
    background-color: #d2e3b5;

}

.slogan {
	position: relative;
	padding-bottom: 80px;
	background: url(../img/bg3.png);
}
.slogan_text {
	font-family: "OpenSans", sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #727472;
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;
}
.column-2 {
	width: 50%;
	float: left;
  background-color: rgb(36, 59, 0);
      padding-top: 50px;

}
.footer_col-2 {
	    width: 50%;
    float: left;
    position: relative;
}
.footer_contai {
	    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
}
.column-3 {
	float: left;
	
}
.column-4 {
	position: absolute;
  left: 0;
	height: 100%;
  width: 300px;
	background-color: rgba(255, 255, 255,0.8);
}
.column-5 {
	height: 100%;
}


.footer_item {
	overflow: hidden;
}
.footer_summary {
	width: 69%;
	float: left;
}
 .footer_text {
	padding: 0 10px;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  text-align: left;
  overflow: hidden;
 

}
.footer_header {
	    font-weight: lighter;
	padding: 0 10px;
	 font-size: 20px;
  font-family: "OpenSans", sans-serif;
  color: rgb( 255, 255, 255 );
  line-height: 30px;
  overflow: hidden;
}

.footer_cont {
	padding: 30px 0;
}
.footer_nav {
	padding-top: 30px;
}
.footer_nav_item {
	padding: 10px 0;
	border-left: 1px solid #fff;
	padding-left: 25px;
}
.footer_nav_item:first-child {
	padding-top: 0;
}
.footer_nav_item:last-child {
	padding-bottom: 0;
}
.footer_nav_item_link {
	color: #fff;
	text-decoration: none;
	padding: 5px 0;
	transition: 0.3s ease;
}
.footer_nav_item_link:hover {
	color: rgb(117,191,46);
}
.footer_contacts {
	color: #617c44;
	margin: 0 auto;
	padding-top: 80px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	padding-bottom: 30px;
}
.footer_contacts tr {
	    line-height: 20px;
}
.footer_summary img {
	float: left;
}
footer {
	background-color: rgb( 36, 59, 0 );
	height: 100%;
	position: relative;
}
.copyright {
	padding-top: 5px;
	padding-left: 125px;
  font-size: 12px;
  font-family: "OpenSans";
  color: rgb( 60, 97, 0 );
  line-height: 25px;
  -moz-transform: scale(0.999, 1);
  -webkit-transform: scale(0.999, 1);
  -ms-transform: scale(0.999, 1); 
  float: left;
}
.copyright a {
	color: #fff;
	text-decoration: none;
}
#modal_form {
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color:  #b0b1b3;
	box-sizing: border-box;
	background-color:  #fbfbfb;
	width: 221px;
	height: 203px;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 1; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
	z-index: 9999;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#modal_form_recall {
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color:  #b0b1b3;
	box-sizing: border-box;
	background-color:  #fbfbfb;
	width: 221px;
	height: 203px;
	background: #fff;
	position: absolute; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
	z-index: 9999;
	right: 0;
    top: 50px;
}

#modal_form #modal_close {
	position: absolute;
	right: 2px;
	top: 2px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:9998; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
	 width: 100%;
    height: 100vh;
}

label[for=name] {
    color: #2c4700;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
#name, #phone {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #b0b1b3;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 195px;
    height: 30px;
    }

    label[for=phone] {
    color: #2c4700;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
}

#submit {
    border-radius: 2px;
  background-color: rgb(36, 59, 0);
    box-shadow: 0px 2px 0px 0px #2c4700;
    width: 195px;
    font-family: "OpenSans", sans-serif;
    height: 37px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: none;
    margin-top: 20px;
    transition: all 0.5s ease;
}
#submit:hover {
	background-color: rgb(117,191,46);
	 box-shadow: 0px 2px 0px 0px rgb(117,191,46);
}
.recall_toggle {
	display: block!important;
	opacity: 1!important;
}
.hamburger_menu {
	color: rgb(36, 59, 0);
	float: right;
	font-size: 24px;
	display: none;
}

/*certification*/
.header_block {
	background-color: rgb( 210, 227, 181 );
}
.breadcrumbs_container {
	padding: 20px;
	padding-right: 0;
	padding-left: 35px;
	float: left;
}
.section_header {
	float: right;
	padding: 20px 0;
  font-size: 20px;
  font-family: Open Sans Light;
  color: rgb( 36, 59, 0 );
  text-transform: uppercase;
  text-align: left;
    font-weight: 200;

}
.breadcrumbs {
	width: 85%;
	padding: 0;
	float: right;
}
.breadcrumbs_item {
	list-style: none;
	display: inline-block;
	padding-right: 5px;
}
.breadcrumbs_link {
  font-size: 12px;
font-family: 'OpenSans', sans-serif;
  color: rgba( 36, 59, 0, 0.6 );
  /*line-height: 2.25;*/
  text-align: center;
  text-decoration: none;
}
.breadcrumbs_link .fa {
	padding-left: 3px;
}
.breadcrumbs_link.active .fa {
	display: none;
}

.breadcrumbs_link.active {
	font-weight: bold;
}
/*.breadcrumbs_item:after {
    content: " >";
}*/
.inside_header {
	 font-size: 20px;
  font-family: "Georgia";
  color: rgb( 36, 59, 0 );
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
}

.certif_block_head {
	 font-size: 18px;
  color: #8ebe40;
  line-height: 1.667;
  text-align: left;
  font-family: "Open Sans";
}
.certif_wrapper {
	max-width: 780px;
	margin: 0 auto;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.certif_block {
	padding-bottom: 40px;
}
.certif_block_text {
	color: #243b00;
	 font-size: 18px;
	 font-family: "Open Sans";
	 text-align: justify;
   padding-top: 20px;
}
.about_us_block_text div {
  padding: 10px 0;
}

.certif_block_text p {
	padding: 10px 0;
}
.side_contact_container {
	padding-top: 90px;
	padding-bottom: 250px;
}
.contact_form {
	padding-top: 90px;
}
.col-1 {
	background-color: #d2e3b5;
	width: 40%;
	float: left;
	text-align: center;
font-size: 18px;
  font-family: "Open Sans";
  color: rgb( 36, 59, 0 );
  line-height: 1.333;
  text-align: center;
  position: relative;
}
.col-1 .fa {
	font-size: 24px;
}
.contact_item {
	padding-bottom: 30px;
}
.contact_form {
	margin-left: 80px;
}
.contact_form input, textarea {
	 padding: 20px 20px;
    color: #3b683d;
    margin: 0 -5px 0 0;
    width: 90%;
    border: 1px solid #3b683d;
    border-radius: 0;
    outline: none;
    font-family: "Open Sans";
    margin-bottom: 15px;
}
.contact_form input[type="submit"] {
	width: 30%;
	text-transform: uppercase;
	color: #fff;
	background-color: #8ebe40;
	border-radius: 5px;
	border: none;
	margin-top: 25px;
	padding: 10px 20px;
	border: 1px solid #8ebe40;
	transition: 0.3s ease;
}
.contact_form input[type="submit"]:hover {
	background-color: #fff;
	color: #8ebe40;
	border: 1px solid #8ebe40;
}
.required_field {
	font-size: 12px;
	color: #3b683d;
	float: right;
	padding-right: 20px;
}

.contact_form  textarea {
	height: 240px;
	resize: none;
	margin-bottom: 5px;
}
.col-2 {
    background-color: #fff;
    width: 60%;
    float: left;
    position: relative;
    left: 40%;
    padding-bottom: 90px;
}
.side_contact_container {
    position: absolute;
    background-color: #d2e3b5;
    width: 40%;
    right: 60%;
    float: left;
    text-align: center;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb( 36, 59, 0 );
    line-height: 1.333;
    text-align: center;
    -moz-transform: matrix( 1.00004740819403,0,0,1.00100404525626,0,0);
    -webkit-transform: matrix( 1.00004740819403,0,0,1.00100404525626,0,0);
    -ms-transform: matrix( 1.00004740819403,0,0,1.00100404525626,0,0);
}
.contact_line {
	width: 60px;
	height: 1px;
	background-color: #243b00; 
	margin: 15px auto;
}
.img_text {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    font-family: Georgia;
    font-weight: bold;
    padding: 30px 0;
    background-color: rgba( 255, 255, 255, 0.6 );
    color: #243b00;
}
.inner_block_wrapper.post_header {
	background-color: #d2e3b5;
	padding: 20px 0;
	color: #243b00;
	text-align: justify;
}
.inner_block_wrapper.post_header div {
	padding: 0 80px;
}
.inner_block_wrapper p {
	padding-right: 20px;
}
.inner_block_wrapper h4 {
	padding-right: 20px;
}
.inner_block.inner_center {
	text-align: center;
	padding: 20px 0;
	font-weight: bold;
}
.main_img_wrapper {
	position: relative;
}
/*new_item*/
.inner_block_wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.inner_block img{
	float: left;
	overflow: hidden;
	padding-right: 10px;
}
.inner_block  {
	background-color: #d2e3b5;
	padding-left: 0;
	padding-right: 20px;
	text-align: left;
	color: #243b00;
    font-size: 18px;
    font-family: "OpenSans";
    font-weight: lighter;

}
/*manufacturers*/
.manufacturers_item_container {
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #8ebe40;
}
.manufacturers_item_content {
	padding-left: 70px;
}
.manufacturers_item {
	float: left;
	width: 63%;
	position: relative;
}
.manufacturers_item .read_more {
	position: absolute;
	right: 0;
	bottom: 0;
}
.manufacturers_slider {
	float: right;
}
.manufacturers_item_content, .manufacturers_item {
    overflow: hidden;
}
.manufacturers_item >img {
	 float: left;
}
.main_news > img{
	float: left;
	width: 65%;
}
.manufacturers_item_head {
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
	color: #243b00;
	text-transform: uppercase;
}
.manufacturers_item_text {
	font-size: 16px;
	font-family: Open Sans;
	overflow: hidden;
}
/*pager*/
.pager {
	text-align: center;
	padding: 30px 0;
	padding-bottom: 100px;
}
.pager_link {
	border-radius: 50%;
	border: 1px solid #8ebe40;
	text-decoration: none;
	padding: 2px 10px;
	font-size: 20px;
  font-family: "Open Sans";
  color: rgb(142, 190, 64);
  line-height: 1.2;
}
.pager_link:hover {
	color: #fff;
	background-color: rgb(142, 190, 64);
}
.pager_link:focus {
	color: #fff;
	background-color: rgb(142, 190, 64);
}
.pager_link:active {
	color: #fff;
	background-color: rgb(142, 190, 64);
}
.pager_item {
display: inline-block;
}
/*news main*/
.news_main_item {
	float: left;
	padding: 20px;
}
.news_item_item_head {
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
	color: #243b00;
	padding: 20px;
	position: relative;
}
.main_news_item_item_head {
	font-size: 30px;
	margin-top: 30px;	
	font-weight: 600;
	letter-spacing: 2px;
	position: relative;
	left: -40%;
	width: 140%;
	background-color: rgba(225, 225, 225, 0.7);
}


.news_main_text {
	padding: 20px;
	color: #243b00;
	font-size: 18px;
}

.news_main_content, .news_main_item {
    overflow: hidden;
    padding-left: 20px;
}
.news_main_item >img {
	 float: left;
}
.post_time {
	color: #a6aca1;
	float: left;
	padding-left: 20px;
}
.post_time_main_news {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 30px;
	padding-left: 20px;
}
.read_more_main_news {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 30px;
	padding-right: 20px;
}
.read_more a{
	color: #fff;
	float: right;
	background-color: rgb(117,191,46);
	padding: 5px 7px;
	border: 1px solid rgb(117,191,46);
	border-radius: 4px;
	text-decoration: none;
	transition: 0.3s ease;
}
.read_more:hover a{
	background-color: #fff;
	color: rgb(142, 190, 64);
	border: 1px solid rgb(142, 190, 64);
}
.inner_block .inner_block_header {
	padding: 20px 0;
}
.main_news_description {
	background-color: #d2e3b5;
	 position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
}
.main_news {
	position: relative;
	background-color: #d2e3b5;
	overflow: hidden;
}
/*carousel*/
.slider {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  margin-left: 30px;
  margin-right: 30px;
}
.slider__list--wrap {
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.slider__list {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  width: 2000px;
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  left: 0;
}
.slider__list:before,
.slider__list:after {
  content: "";
  display: table;
}
.slider__list:after {
  clear: both;
}
.slider__item {
  float: left;
  padding: 0 10px;
}
.slider__controls-button {
  position: absolute;
  top: 50px;
  border-radius: 50%;
  border: 1px solid #8ebe40;
  padding: 2px 7px;
  color: #8ebe40;
}
.slider__controls-button:hover {
	background-color: #8ebe40;
	color: #fff;
}
.slider__controls-button_next {
    right: -30px;
}
.slider__controls-button_prev {
    left: -30px;
}

/*certification_infografic*/
.certificaion_infografic_item {
	padding-bottom: 50px;
	font-size: 16px;
  font-family: "Open Sans";
  color: rgb( 36, 59, 0 );
  text-align: left;
}

ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
	padding:4px 20px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */

}
ol > li:before {
	transition: 0.3s ease;
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top: 0%;
	left:-1.7em;
	border-radius: 50%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:1.7em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:8px;
	padding:4px 2px;
	margin-bottom: 20px;
	border-top:2px solid #666;
	font-weight:bold;
	font-family:Open Sans;
	text-align:center;
	font-size: 40px;
	color: rgb(210, 227, 181);
	border: 1px solid rgb(210, 227, 181);
}

ol > li:hover:before {
	background-color: rgb(210, 227, 181);
	color: #fff;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

.tabs_controls_item {
	display: block;
	background-color: transparent;
	padding: 2px 5px;
	margin: 10px;
	border-width: 1px;
  border-color: rgb(142, 190, 64);
  border-style: solid;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(142, 190, 64);
  line-height: 2.143;
  text-align: center;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.tabs_item {
	margin-bottom: 10px;
	display: none;
	transition: 0.3s ease;
}
.tabs {
	float: left;
	width: 35%;
	padding-right: 1%;
}
.tab_info {
	background-color: #f4f8ec;
	border-right: 1px solid rgb(210, 227, 181);
	border-top: 1px solid rgb(210, 227, 181);
	border-bottom: 1px solid rgb(210, 227, 181);
	margin-top: 60px;
	font-family: Open Sans;
	padding-top: 20px;
	position: relative;
    left: -42px;
}
.tab_info:before {
	    content: '';
    width: 0;
    height: 20px;
    position: absolute;
    border-right: 1px solid rgb(210, 227, 181);
    border-collapse: collapse;
    top: -20px;
    left: 0;
}

.tabs_content {
	overflow: hidden;
	font-family: Open Sans;
	font-size: 16px;
}
.tabs_controls_item.active {
	background-color: rgb(142, 190, 64);
	color: #fff;
}
.tabs_item.active {
	display: block;
}
.tabs_item .fa-angle-right {
	padding-right: 10px;
}
.scroll_to_top.show {
    filter: alpha(opacity=100);
    opacity: 1;
    bottom: 2em;
}
.scheme_original a {
    color: #28262b;
}
.scroll_to_top {
    position: fixed !important;
    z-index: 100001 !important;
    display: block;
    padding: 4px 9px;
    text-align: center;
    bottom: -4em;
    right: 2em;
    background: rgb(117,191,46);
    border: none;
    cursor: pointer;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    -ms-transition: all ease 1.5s;
    -o-transition: all ease 1.5s;
    transition: all ease 1.5s;
    filter: alpha(opacity=0);
    opacity: 0;
}
.scroll_to_top .fa-angle-up {
	color: #fff;
}
.about_post_head {
	font-family: Georgia,sans-serif;
	text-align: justify;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}
@media (max-width: 1000px) {
	.certificaion_infografic_item {
		margin-left: 100px;
	}
	.manufacturers_item {
    float: left;
    width: 50%;
    position: relative;
}
.manufacturers_slider {
    float: left;
    width: 50%;
}
.manufacturers_item_content {
    padding-bottom: 50px;
}
}
@media (max-width: 960px) {
	.tabs {
		width: 100%;
		float: none;
	}
  .footer_contai {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
}
.footer_contacts {
  padding-top: 20px;
}
	.certificaion_infografic_item {
    margin-left: 70px;
}
}
	.tabs_content {
		margin-left: 20px;
		margin-right: 20px;
	}
	.inner_block {
		padding-right: 0;
		text-align: center;
	}
	.inner_block div {
		text-align: justify;
	}
	.inner_block_wrapper p {
		padding: 10px;
	}
	.activity_item {
		display: block;
    padding: 30px 0;
    margin: 0 auto;
}
.activity_img {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
}
.activity_text {
    width: 100%;
    text-align: center;
    float: right;
    font-size: 24px;
    text-transform: uppercase;
    color: #9c9f93;
    font-family: "OpenSans", sans-serif;
    font-weight: lighter;
    text-align: left;
    display: block;
    margin-bottom: 20px;
}
}
.error {
    color: red!important;
    float: left;
}
.company_partners {
	text-align: justify;
}
.company_partners:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.company_partners img {
	display: inline-block;
}
.about_items {
	padding-bottom: 20px;
	border-bottom: 1px solid #d2e3b5;
	margin-bottom: 20px;
}
.about_prefooter_head {
	font-size: 24px;
  font-family: "Georgia";
  color: rgb( 36, 59, 0 );
  font-weight: bold;
	text-align: center;
	padding-bottom: 100px;
	padding-top: 40px;
}
.about_us_block_text span {
	font-weight: bold;
	font-family: OpenSans, sans-serif;
}
.about_items h3 {
	font-family: Georgia;
	font-weight: 24px;
	font-size: 24px;
	text-align: center;
	padding-bottom: 30px;
}

.manufacturers_item.single_page {
	width: 100%;
	padding: 20px 0;
}
.single_page .manufacturers_item_head {
	font-family: OpenSans, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-transform: capitalize;
}

@media (max-width: 960px) {
  .column-2  {
  width: 90%;
  float: none;
}
.column-4 {
    width: 100%;
    float: none;
    height: auto;
}
.column-5 {
  display: none;
}
@media (max-width: 960px) {
.hamburger_menu {
  display: block;
}
.nav {
  display: none;
  width: 100%;
}
.active {
  display: block;
}
.nav_item.active{
  border-width: 0;
    margin: 7px auto;
    width: 100%;
}
.col_container {
    width: 100%;
}
.dropdown-content {
    display: none;
    position: static!important;
    z-index: 4;
    margin-left: 0!important;
    text-align: center;
    z-index: 4;
}
.dropdown-content.wide {
    display: none;
    position: static!important;
    z-index: 4;
    text-align: center;
    margin-left: 0!important
}
.dropdown-content:after {
  content: "";
    display: block;
    width: 0;
height: 0;
border:none;
    position: static;
}
.dropdown-content_item {
  padding-left: 0;
  padding-right: 0;
}
.dropdown-content a {
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
}
}
@media (max-width: 720px) {

	.slider__list--wrap {
    width: 150px;
}
  .inner_block img {
     float: none; 
    overflow: hidden;
    padding-right: 0;
}

	.section_header {
    line-height: 22px;
		font-size: 12px;
	}
	.prerogatives_item {
	width: 100%
}
.activity_img {
	width: 100%	
}
.activity_img_container {
	width: 100%;
}
.activity_text {
	width: 100%;
}
.bxslider {
	height: 300px!important;
}
.bxslider li {
	height: 300px!important;
}
.bxslider li img{
	height: 300px!important;
}
.lang {
	float: right;
}

.number_item {
	float: none;
	text-align: right;
}
.footer_summary {
	width: 100%;
}
.footer_item {
	overflow: visible;
	width: 100%;
}
.column-3 {
	display: none;
}
.container_header {
	font-size: 24px;
}
.slogan_header {
    font-size: 24px;
    word-wrap: inherit;
}

.prerogatives {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
     padding-bottom: 20px; 
}
}


@media (max-width: 500px) {
	.number {
		float: none;
		padding-right: 0;
		padding-bottom: 0;
	}
	.callback_btn {
    border: 2px solid #fff;
}
	.logo {
		width: 25%;
	}
}
@media (max-width: 720px) {
	.tab_info {
	margin-top: 20px;
	width: 120%;
}
	.contact_form input[type="submit"] {
		width: 100%;
	}
	.contact_form input, textarea {
		padding: 20px 10px;
	}
	.activity_text p {
    word-wrap: break-word;
    width: auto;
}
.callback_btn {
  display: none;
}

	.manufacturers_item {
    float: none;
    width: 100%;
    position: relative;
        margin-bottom: 20px;
}
.manufacturers_item_content {
	padding-left: 4%;
}
	.manufacturers_item {
    float: none;
    width: 100%;
}
.manufacturers_slider {
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-left: 20px;
}
.slider {
	margin-left: 0;
}
.footer_contai {
    width: 100%;
    position: static;
}
.footer_col-2 {
    width: 100%;
    float: none;
    position: static;
}
.col-1 {
    background-color: #d2e3b5;
    width: 100%;
    float: none;
    text-align: center;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb( 36, 59, 0 );
    line-height: 1.333;
    text-align: center;
    position: static;
}
.side_contact_container {
    position: static;
    background-color: #d2e3b5;
    width: 100%;
    float: none;
    text-align: center;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb( 36, 59, 0 );
    line-height: 1.333;
    text-align: center;
}
.contact_form {
	margin-left: 0;
}
.col-2 {
    background-color: #fff;
    width: 100%;
    float: none;
    position: static;
    left: 0;
}
.breadcrumbs {
	width: 100%;
	padding: 0 10px;
}
.breadcrumbs_container {
	padding-left: 10px;
}
}
@media (max-width: 960px) {
	/*.wrapper {
		padding: 0;
	}*/
	.news_main_item {
	float: left;
	padding: 20px;
}
.news_item_item_head {
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
	color: #243b00;
	padding: 20px 0;
	position: relative;
}
.main_news_item_item_head {
	font-size: 30px;
	margin-top: 30px;	
	font-weight: 600;
	letter-spacing: 2px;
	position: static;
	width: 100%;
	background-color: rgba(225, 225, 225, 0.7);
	text-align: center;
}
.news_main_text {
	padding: 20px 0;
}
.news_main_content {
	padding-left: 0!important;
}
.news_main_content, .news_main_item {
    overflow: hidden;
    padding-left: 20px;
}
.news_main_item >img {
	 float: none;
}
.post_time_main_news {
	position: static;
	padding-bottom: 30px;
	padding-left: 20px;
}
.read_more_main_news {
	position: static;
	padding-bottom: 30px;
	padding-right: 20px;
}
.read_more a{
	color: #fff;
	float: right;
	background-color: rgb(117,191,46);
	padding: 5px 7px;
	border: 1px solid rgb(117,191,46);
	border-radius: 4px;
	text-decoration: none;
	transition: 0.3s ease;
}
.inner_block .inner_block_header {
	padding: 20px 10px;
  text-align: center;
}
.img_text {
  font-size: 12px;
  padding: 20px 0;
}
.client_manufacture {
  padding-bottom: 0;
}
.inner_block_wrapper.post_header div{
	padding: 0 10px;
}
.main_news_description {
	background-color: #d2e3b5;
	 position: static;
    width: 100%;
    height: 100%;
}
.main_news {
	position: relative;
	background-color: #d2e3b5;
	overflow: hidden;
}
.main_news > img {
	width: 100%;
}
}