
body {
	font-size: 14px;
	background-color: #E8E8E8;
 }
.container {
	width: 513px;
	border: 1px solid #E0E0E0;
	background-color: white;
	margin: 0 auto;
	text-align: center;	
}
.main {
	width: 400px;
 	margin: auto;
 	margin-top: 40px;
}
h1, span, ul {
	text-align: left;
}
span {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}
.part {
	border-bottom: 1px solid gray;
}