/* grid system */
* {
	margin:0;
	padding: 0;
}
.header_container {
	width: 100%;
	background-color: #00b9e5;
	border-bottom: 10px solid #024c9f;

}
.wrapper_header {
	max-width: 1022px;
	margin: 0 auto;
	position: relative;
	padding-right: 8px;
	padding-left: 8px;
}
.header_leftside {
	width: 43%;
	float: left;
	position: absolute;
}
.header_rightside {
	float: right;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.footer_container {
	width: 100%;
	background-color: #e8e8e8;
}
.header_picture {
	width: 100%;
	position: relative;
	z-index: 2;
}
.header_picture img {
	width: 100%;
}
.wrapper_footer {
	max-width: 982px;
	margin: 0 auto;
	position:relative;
	padding-right: 8px;
	padding-left: 8px;
}
/*grid system end*/
/* header */
.lang {
	float: right;
	clear: both;
}
.lang_item {
	float: left;
	list-style-type: none;
	padding-top: 20px;
	padding-left: 6px;
	padding-right: 6px;
}
.lang_item:last-child {
	padding-right: 0;
}
.header_logo {
	width: 308px;
	height: 70px;
	clear: both;
	float: right;
}
.header_logo_img {
	width: 308px;
}
.nav {
	clear: both;
	padding-top: 10px;
}
.nav_list {
	clear: both;
}
.nav_item {
	display: inline-block;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 14px;
	position: relative;
}
.nav_item:last-child {
	padding-right: 0;
}
.nav_item_link {
	font-family: Arial;
	color:  #ffffff;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
	}
.nav_item_link:hover {
	border-bottom: 2px solid #ffffff;
}
.nav_item_link.active {
	border-bottom: 2px solid #ffffff;
	font-size: 18px;
}
/*dropdown*/
.dropdownMenu {
	display: none;
	position: absolute;
	top: 47px;
	right: -27px;
	z-index: 5;
}
.dropdownMenu_item {
	background-color: #02a8cf;
	list-style-type: none;
	border-bottom: 1px solid #ffffff;
	width: 115px;
	height: 30px;
	line-height: 30px;
}
.dropdownMenu_item:hover {
	background-color: #0081a0;
}
.dropdownMenu_item_link {
font-family: Arial;
color:  #ffffff;
font-size: 14px;
font-weight: 400;
padding: 0 30px;
}
.dropdown:hover .dropdownMenu {
	display: block;
}
/*header end*/


/*footer*/
footer {
	background-color: #e8e8e8;
}
.footer_line {
	margin-bottom: 20px;
	background-color: #00b9e5;
	width: 100%;
	height: 17px;
}
.footer_container {
	padding-top: 27px;
	position: relative;
	bottom: 60px;
}
.wrapper_footer {
	padding-top: 20px;
}
.footer_logo_container {
	float: left;
	width: 35.7%;
	margin-right: 85px;

}
.footer_address {
	float: left;
	position: absolute;
    bottom: 0;
    left: 50%;
    font-family: Arial;
	color: #b5b5b5;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
}
.copyright {
	float: right;
	position: absolute;
    bottom: 0;
    right: 0;
    font-family: Arial;
color:  #b5b5b5;
font-size: 14px;
font-weight: 700;
text-align: left;
}
.footer_description {
	font-family: Arial;
color: #b5b5b5;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
padding-left: 10px;
padding-top: 15px;
}
/*about us*/
.main_container {
	background-image: url(../img/background.png);
	background-size: 100% 100%;
	width: 100%;
	clear: both;
}
.main_wrapper {
	padding-top: 150px;
	padding-bottom: 20px;
	width: 100%;
	max-width: 1002px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 3px 6px 30.53px 12.47px rgba(50, 50, 51, 0.18);
	position: relative;
	z-index: 1;

}
.about_us_acticle {
	max-width: 850px;
	margin: 0 auto;
	padding-bottom: 80px;
	padding-right: 8px;
	padding-left: 8px;
}
/*img {
	width: 100%;
}*/
.about_us_main_photo img{
	width: 100%;
	height: 100%;
}
.about_us_photoes {
	float: left;
	width: 50.5%;
}
.about_us_description {
	float: right;
	width: 40%;
}
.about_us_photo {
	float: left;
	width: 50%;
}
.about_us_photo_first {
	margin-right: 1%;
	width: 59%;
	height: 142px;
}
.about_us_photo_first img {
	width: 100%;
	height: 100%;
}
.about_us_photo_second {
	float: right;
	width: 39%;
	margin-left: 1%;
	height: 142px;
}
.about_us_photo_second img {
	width: 100%;
	height: 100%;
}
.about_us_header {
	font-family: Arial;
	color: #024c9f;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
	text-transform: uppercase;
}
.about_us_text {
	font-family: Arial;
	color: #939393;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}
.about_us_article_width {
	font-family: Arial;
color: #939393;
font-size: 14px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
/*services*/
.services_wrapper {
	margin: 0 auto;
	max-width: 806px;
	font-family: Arial;
	color:  #939393;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
}
.services_wrapper img {
	padding-bottom: 20px;
	width: 100%;
}
.services_wrapper p {
	padding-top: 20px;
	padding-bottom: 25px;
}
.services_head {
	font-family: Arial;
	color:  #024c9f;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 30px;
}
/*news*/
.news_wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 826px;
}
.news_item {
	padding-bottom: 30px;
}
.news_header {
	padding-bottom: 25px;
}
.news_head {
	float: left;
	font-family: Arial;
color:  #024c9f;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-transform: uppercase;
width: 60%;
}
.news_time {
	float: right;
	font-family: Arial;
	color:  #024c9f;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.news_img {
	float: left;
	width: 20%;
}
.news_description {
	padding-left: 5%;
	float: left;
	width: 75%;
	font-family: Arial;
	color:  #939393;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}
.news_short {
	height: 140px;
	overflow: hidden;
}
/*contacts*/
.contacts_wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 908px;
}
.contacts_text {
	float: left;
	width: 35%;
}
.contacts_form {
	float: right;
	width: 52%;;
}
.contacts_head {
	font-family: Arial;
color:  #024c9f;
font-size: 24px;
font-weight: 400;
line-height: 40px;
text-align: left;
text-transform: uppercase;
}
.contacts_text_description {
	font-family: Arial;
color:  #939393;
font-size: 14px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
.form_input {
	 height: 47px;
    padding-left: 16px;
    padding-right: 5px;
    margin-bottom: 13px;
    width: 100%;
    font-family: Arial;
	color:  #939393;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}
.form_input_code {
	width: 100%;
	height: 47px;
	padding-left: 16px;
    padding-right: 5px;
    margin-bottom: 13px;
    font-family: Arial;
	color:  #939393;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}
.form_input_message {
	width: 100%;
	height: 127px;
	padding-top: 10px;
	padding-left: 16px;
    padding-right: 5px;
    margin-bottom: 13px;
    font-family: Arial;
	color:  #939393;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	resize: none;
}
input {
	border: 1px solid #b9b9b9;
    outline: 0;
}
.reset {
	float: left;
	background-color:  #e8e8e8;
	width: 215px;
	height: 49px;
	font-family: Arial;
	color:  #9f9f9f;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e8e8e8;
	padding: 0 54px;
	cursor: pointer;
}
.submit_button {
	float: right;
	background-color:  #00b9e5;
	width: 215px;
	height: 49px;
	font-family: Arial;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	border: 1px solid #00b9e5;
	padding: 0 25px;
	position: relative;
	left: 20px;
	cursor: pointer;
}


.footer_img {
	width: 100%;
}
.footer_logo {
	width: 247px;
height: 57px;
padding-bottom: 10px;
}


/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */


#content {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.content_wrapper {
  width: 100%;
  height: 422px;
}

.starq-slider {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 422px;
}

.starq-slider .carusel_item {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 12.5%;
  height: 300px;
  position: relative;
  /*cursor: -webkit-grab;
  cursor: grab;*/
}

.starq-slider .carusel_item:active {
  /*cursor: -webkit-grabbing;
  cursor: grabbing;*/
}

.starq-slider .carusel_text {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #eee;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.starq-slider .carusel_list {
  position: relative;
  white-space: nowrap;
  letter-spacing: -0.3em;
  padding: 0;
  margin: 0;
  border-top: 3px solid #fff;
  height: 97px;
}

.starq-slider .active:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}

.starq-slider .arrow {
  position: absolute;
  bottom: 18%;
  z-index: 10;
  display: block;
  cursor: pointer;
}

.starq-slider .arrow-left {
	left: 47%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.starq-slider .arrow-right {
	left: 51%;
}

.callback {
  position: absolute;
  top: 53px;
  right: 0;
  cursor: pointer;
}

.callback:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 10px;
  height: 0;
  background-color: #0394aa;
  transition: .3s;
}

.callback:hover:after {
  height: 2px;
  width: 100%;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
}

.popup h3 {
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
}

.popup_description {
  text-align: center;
  color: #999;
  font-size: 14px;
  display: block;
  width: 60%;
  margin: 10px auto;
}

.popup_input {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  padding: 10px;
}

.popup_input:focus {
  outline: 0;
}

.popup_box {
  display: block;
  float: left;
  width: 50%;
  padding: 10px;
  position: relative;
}

.popup_inside {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px 25px 45px 25px;
  box-shadow: 0px 0px 23px 0px #00394a;
  width: 662px;
}

.popup-form {
  padding: 10px 10px 30px 10px;
  border: 1px solid #999;
  position: relative;
}

.popup-label {
  font-size: 14px;
}

.popup_submit {
  display: block;
  width: 25%;
  background-color: #fff;
  height: 40px;
  margin: 0;
  position: absolute;
  bottom: -20px;
  right: 3%;
  transition: .3s;
  border: 1px solid #00394a;
}

.popup_submit:hover {
  background-color: #00394a;
  color: #fff;
}

.popup_close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.popup_close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.callback_link {
  cursor: pointer;
}

@media (max-width: 992px) {
  .popup_inside {
    width: 90%;
    padding: 25px 25px 5px 25px;
  }
  .popup_submit {
    width: 60%;
  }
  .call_form {
    border: 0;
  }
}

.popup-description {
  text-align: center;
  font-size: 14px;
  display: block;
  width: 60%;
  margin: 10px auto;
}

.popup_message {
  text-align: center;
  text-transform: uppercase;
}

.quartz-slider {
  white-space: nowrap;
  letter-spacing: -0.3em;
  position: relative;
  overflow: hidden;
}

.quartz-slider .slider_list {
  position: relative;
  left: 0;
}

.quartz-slider .slider_item {
  display: inline-block;
  vertical-align: top;
}

.quartz-slider .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}

.quartz-slider .arrow-left {
  left: 0;
  -webkit-transform: translateY(-50%) scaleX(-1);
  transform: translateY(-50%) scaleX(-1);
}

.quartz-slider .arrow-right {
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carusel_list {
  display: none;
}
.starq-slider .arrow-left {
	 -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.carousel_item_container {
	display: none;
	width: 100%;
	height: 420px;
	position: relative;
}
.carousel_text {
	background-color:  rgba(0, 0, 0, 0.48);
	position: absolute;
	width: 100%;
	height: 60%;
	top: 110px;
}

.carousel_text_wrapper {
	margin: 0 auto;

}

.carousel_header {
	padding: 34px 150px 0 150px;
	font-family: Arial;
	color:  #ffffff;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
}
.carousel_text_item {
	font-family: Arial;
	color:  #fefefe;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 15px;
}
.index_container {
	padding-top: 30px;
}

														/*26.04 Artem*/
.text_blue {
	color: #03b0c8;
}

.arrow {
	opacity: 0.7;
	position: absolute;
	top: 73%;
	width: 35px;
	z-index: 1;
	-webkit-transition: opacity 0.2s ;
	-moz-transition: opacity 0.2s ;
	-o-transition: opacity 0.2s ;
	transition: opacity 0.2s ;
	cursor: pointer;
}

.prev {
	left: 47%;
}

.next {
	left: 51%;
}

.arrow:hover {
	opacity: 1;
}

.slider_item {
	position: absolute;
	width: 100%;
	height: 420px;
}

@media (max-width: 1000px) {
	.carousel_header {
		font-size: 20px;
	}

	.carousel_text_item {
		font-size: 9px;
	}

	.prev {
		left: 45%;
	}

	.next {
		left: 53%;
	}

}

@media (max-width: 760px) {
	.carousel_text {
		display: none;
	}

	.content_wrapper {
		height: 250px;
	}

	.arrow {
		display: none;
	}
}
