@font-face {
	font-family: "Helvetica";
	scr: url(../fonts/helveticalight-webfont.ttf);
}
body {
	font-family: "Helvetica", Arial, Tahoma, sans-serif;
	height: 1028px;
	background-image: url(../img/BackgroundСopy.png);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	overflow:auto;
	background-image: url(../img/Pattern.png), url("../img/Noise.png"), url("../img/Layer 13.png");
}
.main {
	margin-top: 500px;
}
.nav {
	float: right;
	margin-right: 19px;
}
.nav ul {
	display: inline;
}
.navList {
	font-family: Helvetica;
	color:  #60b5ed;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	text-decoration: none;
}
.nav li {
	display: inline-block;
	
}
.navList {
	display: block;
	padding: 0 20px;
}
.navList:hover {
	color: white;
	background-image: url(../img/Layer44.png);
}
a {
	text-decoration: none;
	color: #fff;
}
.headTip a {
	color: #fefefe;
	padding-left: 45px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-top: 10px;
	display: inline-block;
}
.headTip {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 10px;
	color:  #fefefe;
	font-size: 14px;
	font-weight: 400;
	display: inline;
	font-family: Helvetica;
	line-height: 14px;
	text-align: left;
	background-image: url("../img/Layer36.png"), url(../img/inventicons29.png) ;
	background-repeat: no-repeat;
	background-position: left , 10px;
	background-size: auto 36px, auto;
}
.button { 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 13px;
	display: inline;
	font-family: Helvetica;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-align: left;
	background-image: url(../img/Layer16.png);
}
.button a {
	color:  #ffffff;
	text-decoration: underline;
}
.formFields {
	margin: 0 auto;
	height: 612px;
	width: 557px;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.formHead {
	font-family: HelveticaNeue;
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 68px;
	text-align: center;
	margin-bottom: 3px;
}
.facebook {
	width: 275px;
    line-height: 35px;
    background: url(../img/facebook.jpg);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.facebook:hover{
	cursor: pointer;
}
.facebook_left{
    float: left;
    padding: 0 15px;
    font-size: 21px;
    border-right: 1px solid #213c71;
}
.facebook_right{
    float: left;
    width: 210px;
    margin-right: 1px;
    text-align: center;
    border-left: 1px solid #4e67a9;
}
.thin{
    font-weight: 100;
}
.headForm {
	background-color: rgba(0, 0, 0, 0.7);
}
.formContent {
	padding-top: 37px;
	margin: 0 auto;
	width: 276px;
}
.formContent a {
	display: block;
	
}
.formGroup {
	background-color: rgba(0, 0, 0, 0.7);
	padding-bottom: 20px;
}
.or {
	margin-bottom: 30px;
	margin-top: 30px;
	font-family: Helvetica;
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	background-image: url(../img/Layer49.png);
	background-repeat: no-repeat;
	background-position: center;
	
}
input {
	height: 35px;
	width: 277px;
	border: none;
	background-image: url(../img/Layer1.png);
	margin-bottom: 15px;
	font-family: Helvetica;
	color:  #cccccc;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
}
.textArea:focus {
	background-color: #1b5288;
	background-image: none;
	color: #fff;
    border-bottom: 1px solid #699bcd;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(85,142,183,1);
    -moz-box-shadow: 0px 0px 6px 1px rgba(85,142,183,1);
    box-shadow: 0px 0px 6px 1px rgba(85,142,183,1);
    outline: none;
}
::-webkit-input-placeholder {
   padding-left: 19px;
}
:-moz-placeholder { /* Firefox 18- */
   padding-left: 19px;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-left: 19px;  
}

:-ms-input-placeholder {  
   padding-left: 19px;
}
.checkDiv {
	margin-top: 5px;
}
input[type="checkbox"] {
	height: 13px;
	width: 13px;
	margin-bottom: 3px;
}
label {
	font-family: Helvetica;
	color: #cccccc;
	font-size: 14px;
	font-weight: 400;
	line-height: 13px;
	text-align: left;
}
input[type=submit] {
	width: 151px;
	height: 37px;
	background-image: url(../img/Buttoncopy.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 2px;
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 23px;
}
.warning {
	margin-top: 15px;
	font-family: Helvetica;
	color: #cccccc;
	font-size: 11px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
}