@import url(reset.css);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@mixin transition($time, $what) {
  transition: $time $what;
  -webkit-transition: $time $what;
  -o-transition: $time $what;
  -moz-transition: $time $what;
}

@mixin upperCase {
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -o-text-transform: uppercase;
  -moz-text-transform: uppercase;
}

@mixin filter($what) {
  filter: $what;
  -webkit-filter: $what;
  -o-filter: $what;
  -moz-filter: $what;
}

ul, li {
  list-style: none;
}

.clearAll {
  clear: both;
}

.width1000 {
  width: 1000px;
  margin: 0 auto;
}

.corpMenu {
  display: inline-block;
  li {
    margin-left: 13px;
    display: inline-block;
  }
  li:first-child {
    margin-left: 0;
  }
  a {
    line-height: 50px;
  }
}

.login {
  display: inline-block;
  float: right;
  line-height: 50px;
  border-left: 1px solid #dcdcdc;

  a {
    cursor: pointer;
  }
}

.fa-user {
  margin-left: 37px;
  margin-right: 9px;
}

.borderBottom {
  height: 50px;
  box-shadow: 0 0 3px 3px #d4d4d4;
  margin-bottom: 20px;
}

.mMenu {
  background: #f5f5f5;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.bucket {
  position: relative;
  width: 60px;
  height: 60px;
  background: #449b46;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
  color: white;

  i.fa-shopping-cart {
    margin-top: 7px;
    font-size: 24px !important;
  }

  span {
    padding-top: 5px;
    position: relative;
    top: 7px;
  }
  a {
    position: absolute;
    top: 5px;
    left: 35px;
    background: white;
    display: block;
    font-size: 8px;
    color: #3fac00;
    width: 10px;
    height: 10px;
    border: 1px solid #3fac00;
    text-align: center;
    line-height: 10px;
    border-radius: 50%;
  }

}

.multibucket {
  margin-top: 28px;
}

.likeWatch, .bucket {
  display: inline-block;
}

.likeWatch {
  margin-right: 10px;

  a {
    display: block;
    font-size: 9px;
    color: #3fac00;
    width: 14px;
    height: 14px;
    border: 1px solid #3fac00;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
  }

  i.fa-eye {
    padding-left: 8px;
    border-left: 1px solid black;
  }

  i.fa-heart-o, i.fa-eye {
    font-size: 18px !important;
  }

  i.fa-heart-o {
    padding-right: 6px;
  }
}

.numbers {
  margin-top: 35px;
  font-size: 16px;

  span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: #642bb1;
    cursor: pointer;
  }
}

.fa-chevron-down {
  @include transition(0.5s, all);

}

.fa-chevron-down:hover {
  @include transition(0.5s, all);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.numberHide {
  position: relative;
  margin-top: 2px;
  font-size: 13px;
  padding-bottom: 4px;
  border-bottom: 1px dotted #cdcdcd;

  ul {
    width: 120px;
    position: absolute;
    background: #f5f5f5;
    opacity: 0;
    display: block;
    @include transition(0.4s, all);
  }

  li {
    margin: 3px;
    list-style: none;
    font-size: 14px;
    color: green;
    width: 120px;
    font-weight: bold;

  }
}

.logo img {
  margin: 16px 76px 16px 0;
  display: block;
}

.search-form {
  margin-top: 31px;
  input[type='text'] {
    border: 2px solid #ffcc33;
    height: 40px;
    width: 405px;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 5px;
  }

  input[type='submit'] {
    display: block;
    border: none;
    background: #ffcc33;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }

}

.fa-search {
  position: absolute;
  top: 21%;
  left: 22%;
  font-size: 18px !important;
}

.subm {
  display: inline-block;
  position: relative;
  left: -9%;
  top: 10px;
  cursor: pointer;
}

/*меню*/

.menu {
  margin: 20px auto 20px auto;

  background: #ffcc33;
  ul > li {
    padding: 16px 0 15px 0;
    width: 24%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #642bb1;
    cursor: pointer;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  li:hover {
    .subMenu {
      display: block;
      @include transition(0.3s, all);
      opacity: 1;
    }
  }
}

.subMenu {
  @include transition(0.3s, all);
  opacity: 0;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background: #ffcc33;
  z-index: 9000;
  li {
    display: block !important;
    width: 240px !important;
    padding: 5px 0 !important;
  }
}

.banner {
  position: relative;
  width: 1000px;
  height: 480px;
  margin: 0 auto;
  background: #d4d4d4;
}

.linear {
  position: absolute;
  width: 100%;
  background: linear-gradient(to bottom, #b2b2b2, #f7f7f7);
  bottom: -5px;
  left: 0;
  height: 5px;
}

.sliders {
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
  display: block;
}

.left_Arrow, .right_Arrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
  background: #dcdcdc;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  i {
    padding-top: 11px;
  }
}

.left_Arrow {
  left: -5%;
  i {
    margin-left: -5px;
  }
}

.right_Arrow {
  i {
    margin-right: -5px;
  }
  right: -5%;
}

.left_Arrow:hover, .right_Arrow:hover {
  background: #7b7b7b;
}

/*Товары*/
h5 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.tov {
  h5 {
    border-bottom: 1px solid #dcdcdc;
  }
}

.all {
  margin-top: 5px;
}

.Tov1, .Tov2 {
  color: black;
  font-size: 16px;
}

.Tov1 {
  margin-top: 10px;
  a {
    cursor: pointer;
    margin-right: 20px;
    @include transition(0.3s, all);
  }
  a:hover {
    color: #ffcc33;
    @include transition(0.3s, all);
  }
}

.Tov2 {
  div {
    display: inline-block;
    height: 40px;
    background: #ffcc33;
    margin-left: 8px;
    @include transition(0.3s, all);
  }
  a {
    display: block;
    padding: 10.5px 7px 10.5px 7px;
    @include transition(0.3s, all);
  }

  div:hover {
    background: #3fac00;
    @include transition(0.3s, all);
    a {
      color: white;
      @include transition(0.3s, all);
    }
  ;
  }
}

.goods {
  margin-top: 5px;
  margin-bottom: 50px;
  position: relative;
}

.goods_sliders {
  position: relative;
  overflow: hidden;
}

.goods_float_left {
  @include transition(0.5s, margin-left);
  overflow: hidden;
  width: 9999px;
}

.products {
  @include transition(0.3s, border);
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  width: 250px;
  display: block;
  float: left;
  text-align: center;
  img {

    margin: 7% auto 0;
    display: block;
    width: 211px;
    height: 226px;
  }
  span {
    margin-top: 9px;
    display: block;
    color: #dcdcdc;
  }
  > span {
    text-align: left;
    margin-left: 7%;
  }

}

.products:hover {
  border: 1px solid #3fac00;
  @include transition(0.3s, border);
}

.head_prod {
  color: black;
  font-size: 12px;
  width: 211px;
  margin: 10px auto 0 auto;
  text-align: left;

  span {
    margin-top: 0;
    margin-bottom: 9px;
    color: #888888;
  }
}

.price {
  margin-bottom: 10px;
  text-align: left;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #000000;

  span {
    display: inline;
    color: #000000;
    font-size: 12px;
  }
}

.btns {
  overflow: hidden;
  margin-bottom: 20px;
  a {
    width: 110px;
    height: 40px;
    background: #3fac00;
    display: inline-block;
    float: left;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 40px;
    @include transition(0.5s, all);
    i {
      font-size: 18px;
    }
  }

  a:hover {
    @include transition(0.5s, all);
    background: #ffcc33;
    color: black;
  }

  ul {
    overflow: hidden;
    display: inline-block;
    float: right;
    li:first-child {
      border-right: none;
    }

    li {
      text-align: center;
      border: 1px solid #642bb1;
      width: 38px;
      height: 38px;
      line-height: 38px;
      display: inline-block;
      color: #642bb1;
      float: left;
    }
  }
}

/*продукты*/

.bg {
  background: #f5f5f5;
  overflow: hidden;
}

.pCategory {
  li {
    list-style: none;
    float: left;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    @include transition(0.3s, all);
    img {
      width: 211px;
      height: 226px;
      display: block;
      margin: 6% auto 10px;
    }
    width: 250px;
    height: 290px;
  }

  li:hover {
    border: 1px solid green;
    box-sizing: border-box;
    width: 250px;
    @include transition(0.3s, all);

  }
}

.bg_news {
  padding-bottom: 8px;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
}

.news {
  max-width: 318px;
  float: left;
  margin-left: 23px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  @include transition(0.3s, border);

  h4 {
    padding-left: 5px;
    font-size: 16px;
    color: black;
    @include upperCase();
    margin-top: 20px;
    margin-bottom: 6px;
  }

  img {
    max-width: 314px;
    max-height: 238px;
    margin: 0 auto;
    display: block;
  }
  span {
    padding-left: 5px;
    color: #888888;
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
  }
}

.texts {
  cursor: pointer;
  font-size: 13px;
  color: #3b3b3b;
  text-align: center;
  line-height: 40px;
  margin-top: 8px;
  @include transition(0.3s, all);
}

.news:first-child {
  margin-left: 0;
}

.news:hover {
  border: 1px solid #3fac00;
  box-sizing: border-box;
  @include transition(0.3s, border);

}

.row {
  height: 27px;
  padding-left: 8px;
  text-align: left;
  overflow: hidden;
  padding-top: 18px;
  font-size: 12px;
  color: #666666;

  a {
    float: right;
    padding-right: 15px;
    color: #3fac00;
  }
}

.h5 {
  margin-top: 40px;
}

.brends {
  height: 120px;
  background: #f5f5f5;
}

.width950 {
  width: 950px;
  margin: 0 auto;
  position: relative;
  top: 45px;

}

.bSlider {
  overflow: hidden;
}

.brendFloatLeft {
  overflow: hidden;
  width: 9999px;
  @include transition(0.5s, margin-left);
}

.logotype {
  margin-left: 72.4px;
  float: left;
  display: inline-block;
  img {
    display: block;
    max-width: 98px;
    max-height: 35px;
  }
}

.logotype:first-child {
  margin-left: 0;
}

#brendRight, #brendLeft {
  top: 0;
}

#brendLeft {
  left: -7%;
}

#brendRight {
  right: -7%;
}

footer {
  background: #888888;
}

.footer_top {
  padding-top: 60px;
  color: #dcdcdc;
  overflow: hidden;
  h6 {
    font-size: 20px;
    font-weight: bold;
  }
}

.workdays, .service {
  float: left;
  width: 180px;
}

.workdays {
  margin-right: 160px;
  h6 {
    margin-bottom: 20px;
  }
  div:last-child {
    padding-top: 15px;
  }

  width: 180px;
}

.service {
  h6 {
    font-weight: normal;
    margin-bottom: 20px;
  }
  li {
    list-style: none;
    margin-bottom: 5px;
  }
  a {
    color: #dcdcdc;
    @include transition(0.3s, color);
  }

  a:hover {
    color: #ffcc33;
    @include transition(0.3s, color);

  }
}

.sender {
  h6 {
    @include upperCase();
    margin-bottom: 20px;
  }

  float: right;
}

.fild {
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 10px !important;
  background: #7b7b7b;
  width: 405px;
  height: 40px;
  border: 1px solid #a0a0a0;
  box-sizing: border-box;
  display: block;
}

.butt {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background: #ffcc33;
  border: none;
  float: right;
  @include transition(0.3s, all);
}

.butt:hover {
  background: #3fac00;
  color: white;
  @include transition(0.3s, all);
}

.we_check {
  overflow: hidden;
  margin-top: 30px;
  span {
    color: #ffffff;
    @include upperCase();
    font-size: 11px;
  }

  li {
    display: inline-block;
    list-style: none;
  }
}

.check1 {
  float: left;

  ul {
    margin: 25px 0;
  }
  a {
    margin-right: 20px;
  }
  img {
    @include filter(brightness(0.2) grayscale(100%));
    @include transition(0.5s,all);
  }
  img:hover{
    filter: none;
    @include transition(0.5s,all);
  }
}

.check2 {
  float: right;
  color: #333333;
  text-align: right;
  ul {
    margin: 21px 0;
  }

  li {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333333;
    text-align: center;
    @include transition(0.5s, all);

  }

  a {
    @include transition(0.5s, all);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
  }

  li:hover {
    @include transition(0.5s, all);
    border-color: #ffcc33;

    a {
      @include transition(0.5s, all);

      color: #ffcc33;
    }
  }

  i {
    line-height: 30px;
  }
}

.fa-youtube-play, .fa-instagram {
  font-size: 15px !important;

}

.rights {
  background: #3b3b3b;
}

.creaters {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  color: #888888;
  height: 40px;
  line-height: 40px;
}

.breadcrumbs{
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  h3{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #000000;
  }
  a{
    font-weight: bold;
    font-size: 12px;
    color: #3b3b3b;
    float: right;
    margin-top: 23px;
  }
}