/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
    font-family: Intro;
    src: url(../fonts/Intro.otf);
}
body {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
}

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 700px;
  line-height: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.overlay-color {
    background-color: rgba(0, 0, 0, 0.3);
        animation: colorCycle 10s infinite;
    -webkit-animation: colorCycle 10s infinite;
    -moz-animation: colorCycle 10s infinite;
    -o-animation: colorCycle 10s infinite;
}
.main_header {
  font-size:2rem; 
  margin-bottom:0;
}
.fix {
    overflow: hidden;
    height: 100%;
}
html section button, body section button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #c54344;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
 margin-bottom: 70px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
}
html section button.modified, body section button.modified {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #c54344;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin-bottom: 70px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
}
html section button:hover, body section button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

html section button.lined.thin, body section button.lined.thin {
  border: solid 2px #c54344;
  color: #c54344;
    background: #fff;
        margin: 30px 0;
}
html section button.lined.thin.modified, body section button.lined.thin.modified {
  border: solid 2px #c54344;
}
.borders_mod:hover{
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
.borders_mod {
  border: solid 2px #c54344;
   -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: transparent;
  padding: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #c54344;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin-bottom: 70px;
  text-align: center;
}
.borders_mod p {
  text-align: left;
}
header h1 {
   padding-top: 50px;
    color: #fff;
    font-family: "Intro", sans-serif;
    text-transform: uppercase;
}
.checklist {
  list-style: disc;
  color: black;
      text-align: justify;
}
.training_consistence {
  text-align: center;
  font-size: 30px;
}
.about {
    text-align: center;
    padding: 50px 200px;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.6;
}
.about p {
  padding-bottom: 20px;
  color: black;
  text-align: justify;
}
.about_trainer {
 text-align: center;
  padding: 100px 200px;
}



/*@media only screen and (min-width: 1170px) {
  header {
     height: 500px;
    line-height: 300px;
     background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}*/

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #c54344;
}
.cd-timeline-img.cd-movie {
  background: #c54344;
}
.cd-timeline-img.cd-location {
  background: #d3d5d4;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    border: dashed 2px #41403E;
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: black;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-bottom: 70px;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}






html section button:hover, body section button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
/*html section button.lined.thick, body section button.lined.thick {
  border: solid 7px #41403E;
}*/
html section button.dotted.thick, body section button.dotted.thick {
  border: dotted 5px #41403E;
}
html section button.dashed.thick, body section button.dashed.thick {
  border: dashed 5px #41403E;
}
/*html section button.lined.thin, body section button.lined.thin {
  border: solid 2px #41403E;
}*/
html section button.dotted.thin, body section button.dotted.thin {
  border: dotted 2px #41403E;
}
html section button.dashed.thin, body section button.dashed.thin {
  border: dashed 2px #41403E;
}

.event-topics-area {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin: 100px 0;
    padding-bottom: 100px;
}
.event-topics-area .event-topics {
    padding-top: 30px;
}
header .row, footer .row, section .row {
    margin: 0;
}
.event-topics-area .event-topics .topics h5 {
    color: #a6afb8;
    font: 400 14px/34px "Montserrat", sans-serif;
    padding-bottom: 70px;
}
.event-topics-area .event-topics .topics .nav-tabs {
    border: 0;
}
.nav-tabs {
    color: #fff;
    font: 400 14px/28px "Lato", sans-serif;
    padding-top: 35px;
    border: none;
}
.nav-tabs li {
  font-size: 16px;
}
.nav-tabs li:before {
  content: '\2714';
  padding-right: 20px;
}
.nonactive li {
   text-decoration: line-through;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
event-topics-area .event-topics .topics .nav-tabs li.active a, .event-topics-area .event-topics .topics .nav-tabs li:focus a, .event-topics-area .event-topics .topics .nav-tabs li:hover a {
    background: transparent;
    border: 0;
}
.event-topics-area .event-topics .topics .nav-tabs li .design {
    display: inline-block;
    padding-right: 112px;
    padding-bottom: 80px;
    border: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}


.event-topics-area .event-topics .ux-design {
    padding-left: 80px;
}
.event-topics-area .event-topics .ux-design p {
    color: #fff;
    font: 400 14px/28px "Lato", sans-serif;
    padding-top: 35px;
}
.event-topics-area:after {
    content: "";
    position: absolute;
    background-color: rgba(197, 67, 68, 0.9);
    display: block;
    top: 0px;
    width: 50%;
    right: 0;
    bottom: 0px;
    z-index: -1;
}
.event-topics-area:before {
    content: "";
    position: absolute;
    background-color: rgba(22, 38, 52, 0.9);
    display: block;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
}
.price_block {

  color: #c54344;
    background: #fff;
    border: solid 2px #c54344;
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-bottom: 70px;
    text-align: center;
}
.price_block_list {
  text-align: justify;
}
.price_block_list li {
  padding: 10px 0;
}

.price_block_list li {
    border-bottom: 1px solid #c54344
}

.section_title {
    text-align: center;
    padding-bottom: 75px;
}

 .pricing_min .item {
    text-align: center;
}

.pricing_min .item .basic_package .head {
    background: #162634;
    color: #fff;
    padding: 40px 0;
    border-radius: 5px 5px 0 0;
}
.pricing_min .item .basic_package .head h2 {
    font: bold 30px/26px "Montserrat", sans-serif;
}

.pricing_min .item .basic_package .head h6 {
    padding-top: 15px;
    font: normal 14px/1 "Montserrat", sans-serif;
}
.pricing_min .item .basic_package .pricing_list {
    background: #f1f5f8;
}
.pricing_min .item .basic_package .pricing_list ul {
    margin: 0;
    padding: 0;
}

 .pricing_min .item .basic_package .pricing_list ul li {
    display: block;
    list-style: none;
    color: #67717a;
    font: normal 14px/50px "Lato", sans-serif;
    border-bottom: 1px solid #fff;
}
.pricing_min .item .basic_package .p-bottom {
    background: #e4eaef;
    padding: 40px 0;
}
.basic_package {
  min-height: 770px;
}
 .pricing_min .item .basic_package .p-bottom a {
    width: 200px;
    height: 48px;
    background: #162634;
    color: #fff;
    text-align: center;
    font: normal 12px/48px "Montserrat", sans-serif;
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
    text-decoration: none;
}
.pricing_min .item .basic_package .p-bottom a:hover {
  background-color: #c54344;
}
.pricing_min .item .active .head {
    background: #c54344;
}
.count_down {
  padding: 30px 0;
}
.count_down .background .counter {
    display: block;
    font-size: 72px;
    color: rgb(255, 255, 255);
    line-height: 45px;
}
.count_down-1 div div span {
    color: rgb(255, 255, 255);
}
.modified-left {
  text-align: left;
}
/*.trainer {
  background-image: url(../img/header.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}*/
.for_whom.about {
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(../img/arrow.png);
}
.about_trainer_list {
  color: black;
  text-align: left;
}
.about_trainer_list li:before {
  content: '\27A4';
    padding-right: 20px;
    color: #c54344;
    
}
.for_whom_list {
  text-align: left;
  color: black;
  font-size: 16px;
  padding: 10px;
}
.for_whom_list li {
  padding-bottom: 20px;
}
.for_whom_head {
  font-size: 1.25rem;
    text-align: left;
    padding: 10px;
}
.price {
  font-size: 24px;
  color: #c54344;
}
.event-topics .lined.thin {
  font-size: 20px;
}

.menu-button {
    background: #c54344 none repeat scroll 0 0;
    border: medium none;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 1.5em;
    height: 2em;
    margin: 0 1em 1em 0;
    padding: 0;
    position: fixed;
    width: 2em;
    z-index: 99;
    outline: none;
}
button, a.button {
    display: inline-block;
    margin: 40px 0 0;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    background: #c54344;
    border: none;
    text-decoration: none;
}
.menu-wrap {
    position: fixed;
    z-index: 98;
    background: #c54344 none repeat scroll 0 0;
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
    width: 0;
    height: 0;
    font-size: 1.5em;
    bottom: 1em;
    right: 1em;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 100% 100%;
}
.menu {
    height: 100%;
    opacity: 0;
}
.link-list {
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 1px 0;
}
.link-list li {
    float: left;
    font-size: 14px;
    line-height: 50px;
    list-style: outside none none;
    margin: 0 0 1px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.link-list li a {
    box-shadow: 0 0 0 0 rgb(255, 255, 255) inset;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    outline: medium none;
    padding: 0;
    transition: all 0.5s ease 0s;
}

.show-menu .menu-wrap {
    width: 280px;
    height: 430px;
    -webkit-animation: anim-jelly 0.8s linear forwards;
    animation: anim-jelly 0.8s linear forwards;
}

.link-list li a:hover, .link-list li a:focus {
    box-shadow: 282px 0 0 0 #fff inset;
    color: #20242e;
    padding-left: 25px;
    text-decoration: none;
}



.register-background {
    background-color: #ffffff;
}
.register-background {
    background: url("../img/reg-parallax.jpg") center 0px / cover no-repeat fixed rgb(255, 255, 255);
    background-position: center 0px;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.overlay-color {
    background-color: rgba(0, 0, 0, 0.65);
}
.section-separator {
    display: block;
    padding: 85px 0px;
}
#register .section-header .section-heading {
    color: rgb(255, 255, 255);
}

.section-header .section-heading {
    text-align: center;
}

.section-heading {
    position: relative;
    padding-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0px 0px 30px;
}
.form-cus {
    height: auto;
    font-size: 16px;
    padding: 16px;
    border-radius: 0px;
}
.register-form {
    margin-top: 60px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.register-form .form-cus {
    background-color: transparent;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.862745);
}
.register-form select {
    font-size: 20px;
    line-height: 1;
    height: 68px;
    -webkit-appearance: none;
    color: rgba(255, 255, 255, 0.862745);
    margin-bottom: 20px;
    background: url("../images/arrow.png") right center no-repeat;
    padding: 0px 18px;
}
.register-form select {
    font-size: 20px;
    line-height: 1;
    height: 68px;
    -webkit-appearance: none;
    color: rgba(255, 255, 255, 0.862745);
    margin-bottom: 20px;
    background: url("../images/arrow.png") right center no-repeat;
    padding: 0px 18px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.register-form select option {
    background-color: #fff;
}
.register-form select option {
    color: rgb(0, 0, 0);
    font-size: 16px;
    height: 20px;
}

.register-form .btn:hover, .register-form .btn:focus {
    color: rgb(255, 255, 255);
}
.register-form .btn {
    border-color: #ff6330;
    color: #ff6330;
}
.btn-top:hover, .btn-top:active, .btn-top:focus {
    color: /*#ff6330/*3ac353*/#fff;
}


@media (max-width: 620px) {
  .about, .about_trainer {
    padding: 20px;
  }
  .main_header {
  font-size:1.5rem; 
}
.count_down .background .counter {
  font-size: 40px;
}
header {
  line-height: 100px;
}
html section button, body section button {
  font-size: 20px;
}
event-topics-area .event-topics .ux-design {
    padding-left: 0;
}
}